
	/*隐藏左侧导航条*/
	.pullDownList{

		display: none;
	}

	/*小图标*/
	#move{
		width: 160px;
		height: 160px;
		position: absolute;
		left:0px;
		top:0px;
		display:none;
		background: url(/home/theme/img/pd/bg.png);
	}
	/*右边大图*/
	#big{
		width:440px;
		height:440px;
		position:absolute;
    background:#fff;
		left:545px;
		top:236px;
		overflow:hidden;
		display:none;
	}
	#bigimg{
			position: absolute;
		}